name: Generate Snake

on:
  schedule:
    # Runs every 12 hours
    - cron: "0 */12 * * *"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - name: Generate snake animation
        uses: platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
              github-contribution-grid-snake.svg
              github-contribution-grid-snake-dark.svg?palette=github-dark
              github-contribution-grid-snake-light.svg?palette=github-light

      - name: Commit and push snake animation
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "chore: update snake animation"
            file_pattern: github-contribution-grid-snake*.svg